body 
{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header 
{
    background-color: #FFD495;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.logo 
{
    width: 100px;
    height: 80px;
    vertical-align: middle;
    margin-right: 10px;
}

nav ul 
{
    list-style-type: none;
    padding: 0;
}

nav ul li 
{
    display: inline;
    margin-right: 20px;
}

nav ul li a 
{
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover 
{
    text-decoration: underline;
}

main 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.Product 
{
    background-color: #f9f9f9;
    border: 7px solid #D6C7AE;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
    font-size: 12px;
    width: 200px;
}

.Product img 
{
    height: 150px;
    width: 150px;
    object-fit: contain;
}

.price 
{
    color: #333;
    font-weight: bold;
    font-size: 16px;
}

button 
{
    background-color: #FFDBAA;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

button:hover 
{
    background-color: #FAAB78;
}

#buttonOK
{
    margin: 20px 30px 10px 30px;
}

footer 
{
    background-color: #B3A492;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}