

body 
{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#back
{
    position:fixed;
    top: 10px; 
    left: 10px; 
    color: #B3A492;
    background-color: #fff;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border:#B3A492 solid ;
    border-radius: 10%;
    text-decoration: none;
    padding: 5px 5px;
}

.logo 
{
    width: 90px;
    height: 70px;
    position: absolute;
    top: 5px; 
    left: 530px;
}


.container 
{
    max-width: 1200px;
    margin: 0 auto;
}

header 
{
    background-color: #FFD495;
    background-color: ;
    color: #fff;
    padding: 25px 0;
    text-align: center;
}

header h1 
{
    margin: 0;
}

main 
{
    padding: 20px 0;
}

.cart 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cart-item 
{
    width: 300px;
    margin: 0 20px 20px 0;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.item-image 
{
    height: 200px;
    overflow: hidden;
}

.item-image img 
{
    height: 200px;
    width: 200px;
    object-fit: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.item-details 
{
    padding: 20px;
}

.item-details h2 
{
    margin-top: 0;
}

.price 
{
    font-size: 18px;
    margin-bottom: 10px;
}

.remove-btn 
{
    background-color: #c0392b;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.remove-btn:hover 
{
    background-color: #a93226;
}

footer 
{
    background-color: #FFD495;
    background-color: ;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.total 
{
    font-size: 20px;
    margin-bottom: 10px;
}

.checkout-btn 
{
    background-color: #B3A492;
    background-color: ;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.checkout-btn:hover 
{
    background-color: #FAAB78;
}
