body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

#back {
    position: fixed;
    top: 10px; 
    left: 10px; 
}

#back a {
    color: #FFD4B2;
    background-color: #fff;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: #ffefe3 solid 1px;
    border-radius: 10px;
    text-decoration: none;
    padding: 5px 10px;
}

.logo {
    width: 90px;
    height: 70px;
    position:absolute;
    left:520px;
    top: 1px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: #FFD495;
    color: #fff;
    padding: 25px 0;
    text-align: center;
    position: relative;
}

header h1 {
    margin: 0;
}

main {
    padding: 20px 0;
}

.cart {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cart-item {
    width: 300px;
    margin: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.item-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: #f9f9f9;
}

.item-image img {
    max-height: 100%;
    max-width: 100%;
    width: 150px;
    object-fit: contain;
}

.item-details 
{
    padding: 20px;
}

.item-details h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
}

.quantity-controls {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.quantity-btn {
    background-color: #ddd;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.quantity {
    margin: 0 10px;
    font-size: 16px;
}

.price {
    font-size: 18px;
    color: #666;
    margin-bottom: 10px;
}

.remove-btn {
    background-color: #c0392b;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.remove-btn:hover {
    background-color: #a93226;
}

footer {
    background-color: #FFD495;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.total {
    font-size: 20px;
    margin-bottom: 10px;
}

.checkout-btn {
    background-color: #FAAB78;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.checkout-btn:hover {
    background-color: #B3A492;
}
