
body 
{
    background-image: url(p.register.png);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#container 
{
    background-color: white;
    border: 1px solid #DDD;
    border-radius: 10px;
    width: 400px;
    padding: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#register-title 
{
    background-color: #FF9B50;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#register-title h3 
{
    margin: 0;
    padding: 12px 0;
    text-align: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

form 
{
    padding: 20px;
}


input[type=submit] 
{
    background-color: #FF9B50;
    width: 100px ;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-left: 125px;
}

input[type="text"], input[type="password"], input[type="email"],input[type="tel"], input[type="date"] 
{
    width: calc(100% - 22px); 
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #CCC;
    box-sizing: border-box;
}

input[type=submit]:hover 
{
    background-color: #FFCF81;
    cursor: pointer;
}

#back
{
    position: absolute;
    top: 10px; 
    left: 10px; 
    color: #FF9B50;
    background-color: #fff;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border:#FF9B50 solid ;
    border-radius: 10px;
    text-decoration: none;
    padding: 5px 5px;
}