body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #B3C8CF;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

a#back {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #B3C8CF;
    background-color: #fff;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: #BED7DC solid;
    border-radius: 10%;
    text-decoration: none;
    padding: 5px 10px;
}



/* Basic styling for the staff table */
.member-table {
    width: 100%;
    border-collapse: collapse;
    color: #333;
}

.member-table th, .member-table td {
    border: 1px solid #fff;
    padding: 8px;
    text-align: left;
    
}

.member-table th {
    background-color: #B3C8CF;
}

.member-table td{
    background-color: #BED7DC;
    color: #333;
    width: 10%;
}

#address{
    width: 40%;
}

.member-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}



/* Previous and Next Buttons */
.PNbutton {
    text-align: center;
    margin-top: 20px;
}

.PNbutton button {
    padding: 10px 20px;
    margin: 0 5px;
    background-color: #fff;
    color: #333;
    border: #333 solid;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.PNbutton button:hover {
    background-color: #adadad;
}


