/* General styles */
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-image: url(p.backg.png);
    background-repeat: no-repeat; 
    background-size: 1550px 1200px;
}

#back {
    position: absolute;
    top: 10px; 
    left: 10px; 
    color: #FFD4B2;
    background-color: #fff;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: #ffefe3 solid;
    border-radius: 10px;
    text-decoration: none;
    padding: 5px 5px;
}

/* Payment form styles */
.payment {
    max-width: 600px;
    margin: 50px auto;
    padding: 30px 50px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.payment h1 {
    text-align: center;
}

.payment form {
    margin-top: 20px;
}

.payment label {
    display: block;
    margin-bottom: 5px;
}

.payment input[type="text"],
.payment input[type="email"],
.payment select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.payment input[type="submit"] {
    background-color: #FAAB78;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.payment input[type="submit"]:hover {
    background-color: #FF8C42;
}

/* Payment method popups */
.method3,
.method-debit-card,
.method-credit-card {
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.3s ease-in-out;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.method3-inner,
.method-debit-card-inner,
.method-credit-card-inner {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    padding: 15px 25px;
    text-align: center;
    width: 380px;
    position: relative;
}

.method3.active,
.method-debit-card.active,
.method-credit-card.active {
    opacity: 1;
    z-index: 999;
}

.method3 img {
    width: 100%;
    max-width: 200px;
    margin: 15px 0;
}

.method-credit-card-inner h3,
.method-debit-card-inner h3 {
    margin: 0 0 15px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 40px;
    color: red;
    cursor: pointer;
}

/* Additional styling */
.method-debit-card {
    background-color: rgba(0, 0, 0, 0.3);
}

.method-debit-card-inner {
    width: 360px;
}

.method-credit-card {
    background-color: rgba(0, 0, 0, 0.3);
}

.method-credit-card-inner {
    width: 360px;
}
