body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header 
{
    background-color: #BED7DC;
    color: #fff;
    padding: 5px;
    text-align: center;
    position: relative;
}

#back 
{
    position: absolute;
    top: 10px;
    left: 10px;
    color: #BED7DC;
    background-color: #fff;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border: solid #ffefe3;
    border-radius: 10%;
    text-decoration: none;
    padding: 5px;
}

.logo 
{
    width: 100px;
    height: 80px;
    vertical-align: middle;
    margin-right: 10px;
    font-size: 30px;
}


header {
    background-color: #B3C8CF;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

a#back {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #B3C8CF;
    background-color: #fff;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border: #BED7DC solid;
    border-radius: 10%;
    text-decoration: none;
    padding: 5px 10px;
}

.add-category {
    max-width: 600px;
    margin: 20px auto;
    padding: 50px 100px;
    background-color:#E5DDC5 ;
    color: #333;
    border-radius: 10px;
}

form {
    margin-bottom: 20px;
    border-radius: 20%;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #fff;
    color: #333;
    padding: 10px 20px;
    margin-top: 40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #adadad;
}




main {
    padding: 20px;
}

.category-list, .add-category {
    margin-bottom: 30px;
}

h2 {
    margin-top: 0;
}

/* Basic styling for the staff table */
.category-list {
    width: 100%;
    border-collapse: collapse;
    color: #333;
}

.category-list th, .category-list td {
    border: 1px solid #fff;
    padding: 8px;
    text-align: center;
}

.category-list th {
    background-color: #B3C8CF;
}

.category-list td{
    background-color: #BED7DC;
    color: #333;
    width: 10%;
}


.category-list td button{
    background-color: #fff;
    color: #333;
    position: relative;
    bottom: 16px;

}

.category-list td button:hover {
    background-color: #adadad;
}

.category-list tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}



/* Previous and Next Buttons */
.PNbutton {
    text-align: center;
    margin-top: 20px;
}

.PNbutton button {
    padding: 10px 20px;
    margin: 0 5px;
    background-color: #fff;
    color: #333;
    border: #333 solid;
    border-radius: 5px;
    cursor: pointer;
}

.PNbutton button:hover {
    background-color: #adadad;
}





button {
    padding: 10px 20px;
    background-color: #fff;
    color: #333;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #adadad;
}

button:focus {
    outline: none;
}
