body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color:#FFD495 ;
    padding: 20px;
    text-align: center;
}

#back{

    color: #FFD495;
    background-color: #fff;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border:#BFB29E solid ;
    border-radius: 10%;
    text-decoration: none;
    margin-right: 100%;
    padding: 5px 5px;
}

header h1 {
    margin: 0;
    color: #fff;
}




.contact-icon {
    flex: 0 1 40%;
    background-color: #FFD495;
    text-align: center;
    height: 1100px;
}

.contact-info1 {
    flex: 0 1 40%;
    background-color: #FFD495;
    text-align: center;
}

.contact-info1 h3{
    margin: 11% 11%;
    color: #fff;
    display: inline;
}

.section1
{
    background: #D6C7AE;
    color: #fff; 
    width: 300px; 
    height: 650px;
    border-radius: 100px;
    text-align: center;
    padding-top: 3.5%;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 14%;
    float: left;
}

.section2
{
    background: #D6C7AE;
    color: #fff; 
    width: 300px; 
    height: 300px;
    border-radius: 100px;
    text-align: center;
    padding-top: 3.5%;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 41%;

}

.section3{
    background: #D6C7AE;
    color: #fff; 
    width: 300px; 
    height: 200px;
    border-radius: 100px;
    text-align: center;
    padding-top: 3.5%;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 67%;

}






main {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.message{
    flex: 0 1 40%;
}

.message h2 {
    margin-top: 16%;
    text-align: center;
}

.message p {
    margin-bottom: 10px;
    color: #333;
    text-align: center;
}

.contact-form {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #DADDB1;
    width: 600px;
}

label {
    display: block;
    margin-bottom: 5px;
    margin-left: 10px;
    
}

input[type="text"],
input[type="email"],
textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 10px;
}

textarea {
    resize: vertical;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

button:hover {
    background-color: #45a049;
}



/* Footer styles */
footer 
{
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    bottom: 0;
    width: 98%;
}

p{
    color: #fff;
}

nav ul 
{
    list-style-type: none;
    padding: 0;
}

nav ul li 
{
    display: inline;
    margin-right: 20px;
}

nav ul li a 
{
    color: #fff;
    text-decoration: none;
}