   
body 
{
    background-image: url(background.jpg);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
}

#container 
{
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}


#login-title 
{
    height: 50px;
    background-color: #FF9B50;
    background-repeat: no-repeat;
    background-position: 7px 7px;
    background-size: 25px 25px;
    border-radius: 8px 8px 0px 0px;
}

#login-form 
{
    padding: 10px;
    background-color: #FFFFFF;
    text-align: center;
}

#login-form input[type=email],[type=password] 
{
    width: 250px;
    border-radius: 5px;
    border: 1px solid #FF9B50;
    height: 25px;
    padding: 5px 10px 5px 40px;
}

#login-form input[type=email] 
{
    background-image: url(email.png);
    background-size: 26px;
    background-repeat: no-repeat;
    background-position: 10px 10px;
}

#login-form input[type=password] 
{
    background-image: url(lock.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: 10px 7px;
}

#login-form input[type=submit] 
{
    background-color: #FF9B50;
    width: 300px;
    padding: 10px;
    border: 0px;
    color: white;
    font-weight: bold;
}

#login-form input[type=submit]:hover 
{
    background-color:#FFCF81;
    cursor: pointer;
}

#login-form p a 
{
    text-decoration: none;
    text-align: center;
    font-family: Arial Narrow;
    font-size: 0.8em;
}

#login-form p a:hover
{
    font-style: italic;
    color: red;
}

