body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;

}

header {
    background-color: #B3C8CF;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

a#back {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #B3C8CF;
    background-color: #fff;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: #BED7DC solid;
    border-radius: 10px;
    text-decoration: none;
    padding: 5px 10px;
}

.add-staff {
    max-width: 600px;
    margin: 20px auto;
    padding: 50px 100px;
    background-color:#E5DDC5 ;
    color: #333;
    border-radius: 5px;
}

form {
    margin-bottom: 20px;
    border-radius: 20%;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #fff;
    color: #333;
    padding: 10px 20px;
    margin-top: 40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button:hover {
    background-color: #adadad;
}

.staff-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #333;
}

/* Basic styling for staff list */
.staff-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Styling for each row */
.staff-row {
    display: flex;
    justify-content: center;
}

/* Basic styling for the staff table */
.staff-table {
    width: 100%;
    border-collapse: collapse;
    color: #333;
}

.staff-table th, .staff-table td {
    border: 1px solid #fff;
    padding: 8px;
    text-align: left;
}

.staff-table th {
    background-color: #B3C8CF;
}

.staff-table td{
    background-color: #BED7DC;
    color: #333;
    width: 10%;
}

#address{
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.staff-table td button{
    padding: 5px;
    margin: 0;
    background-color: #fff;
    color: #333;
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.staff-tabletd td button:hover{
    background-color: #adadad;
 
}

.staff-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}



/* Previous and Next Buttons */
.PNbutton {
    text-align: center;
    margin-top: 20px;
}

.PNbutton button {
    padding: 10px 20px;
    margin: 0 5px;
    background-color: #fff;
    color: #333;
    border: #333 solid;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.PNbutton button:hover {
    background-color: #adadad;
}


