body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #B3C8CF;
    color: white;
    padding: 20px 0;
    text-align: center;
}

a#back {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #B3C8CF;
    background-color: white;
    font-size: 20px;
    border: 1px solid #BED7DC;
    border-radius: 10px;
    text-decoration: none;
    padding: 5px 10px;
}

.staff-table {
    width: 100%;
    border-collapse: collapse;
    color: #333;
}

.staff-table th, .staff-table td {
    border: 1px solid #B3C8CF;
    padding: 8px;
    text-align: left;
}

.staff-table th {
    background-color: #B3C8CF;
}

.staff-table td {
    background-color: #BED7DC;
}


 /* General styles for input and button */
 input[type="text"], input[type="email"], input[type="password"], input[type="date"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #fff;
    color: #333;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}