

body 
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header 
{
    width: 100%;
    background-color: #BED7DC;
    padding: 50px 0;
    text-align: center;
    color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

a#back {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #BED7DC;
    background-color: #fff;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: #BED7DC solid;
    border-radius: 10px;
    text-decoration: none;
    padding: 5px 10px;
}

header h1 
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

header .logo 
{
    width: 100px;
    height: auto;
    margin-right: 10px;
}

.container 
{
    padding: 20px 40px;
    width: 90%;
    max-width: 500px;
}

h2 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.profile-picture 
{
    text-align: center;
    margin-bottom: 20px;
    position: relative;
}

.profile-picture img 
{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #ccc;
}

.profile-picture input 
{
    position: absolute;
    width: 150px;
    height: 150px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    cursor: pointer;
}

.form-group 
{
    margin-bottom: 15px;
}

label 
{
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"],input[type="email"],input[type="tel"],input[type="text"],input[type="password"],input[type="date"],select 
{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button 
{
    width: 100%;
    padding: 10px;
    background-color: #BED7DC;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 30px;
}

button:hover 
{
    background-color: #9fd4de;
}
