
/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.input 
{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    position: absolute;
    top: 20px; /* Adjust this value as needed */
    right: 20px; /* Adjust this value as needed */
}


/* Global styles */
body 
{
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
}


/* Header styles */
header 
{
    background: #FFD4B2;
    color: #fff;
    padding: 1rem;
    height: 120px;
}

.logo 
{
    width: 100px;
    height: 80px;
    vertical-align: middle;
    position: absolute;
    left: 280px;
    top: 10px;
}

#back
{
    position: absolute;
    top: 10px; 
    left: 10px; 
    color: #BFB29E;
    background-color: #fff;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border:#BFB29E solid ;
    border-radius: 10%;
    text-decoration: none;
    padding: 5px 5px;
}

h1
{
    margin-top: 15px;
    text-align: center;
}

/* background1 section styles */
.background1 
{
    background-color: #f4f4f4;
    text-align: center;
    padding: 50px 0;
    color: #333;
}

.background1 h2 
{
    font-size: 2em;
    margin-bottom: 20px;
}

.background1 p 
{
    font-size: 1.2em;
    margin-bottom: 15px;
}

/* background2 section styles */
.background2 
{
    padding: 50px 0;
    background: #fff;
    text-align: center;
}

.background2 h2 
{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 40px;
}

.background2 div
{
    background-color: #DADDB1;
    border-radius: 100px;
    height: 150px;
    margin-bottom: 3%;

}

.background2 section
{
    background: #FFD4B2;
    color: #fff; 
    width: 150px; 
    height: 150px; 
    border-radius: 100px;
    text-align: center;
    padding-top: 3.5%;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.background2 p 
{
   position: relative;
   top: 20%;
   margin-left: 5%;
    margin-right:5%;
}

/* background3 section styles */
.background3 h2 
{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 40px;
}

.background3 div
{

    background-color: #DADDB1;
    color: #333;
    text-align: center;
    border-radius: 100px;
    height: 150px;
    margin-bottom: 3%;
}

.background3 p 
{
    text-align: center;
    position: relative;
    top: 30%;
    margin-left: 10%;
    margin-right:10%;
}

/* Footer styles */
footer 
{
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    bottom: 0;
    width: 100%;
}

nav ul 
{
    list-style-type: none;
    padding: 0;
}

nav ul li 
{
    display: inline;
    margin-right: 20px;
}

nav ul li a 
{
    color: #fff;
    text-decoration: none;
}