/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin: 0px 20px;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
}





/* Header styles */
header {
    background: #BFB29E;
    color: #fff;
    padding: 1rem;
}

#back{

    color: #BFB29E;
    background-color: #fff;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50%;
    border: #fff solid;
    text-decoration: none;
}

h1{
    margin-left: 100px;
}

header nav ul {
    margin-left: 100px;
    list-style: none;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

header nav ul li a:hover {
    color: #333;
}





/* background1 section styles */
.background1 {
    text-align: center;
    padding: 50px 0;
    color: #333;
}

.background1 h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.background1 p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.account{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: gray;
    position: relative;
    margin:0px 10px 10px 10px;
    left:1050px;
    bottom: 10px;
    margin:0px 10px 10px 10px;
}

.account::after{
    content: "";
    position: absolute;
    height: 20px;
    width: 40px;
    background-color: gray;
    top: 18px;
    left: -10px;
    border-radius: 50% 50% 0% 0%;
}



/* background2 section styles */
.background2 {
    padding: 50px 0;
    background: #fff;
    text-align: center;
}

.background2 h2 {
    margin-bottom: 20px;
}

.background2 {
    margin-bottom: 30px;
}

.background2 h2 {
    margin-bottom: 10px;
}




/* Footer styles */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}