body 
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, p 
{
    margin: 0;
    padding: 0;
}

header 
{
    background-color: #BED7DC;
    color: #fff;
    padding: 5px;
    text-align: center;
    position: relative;
}

#back 
{
    position: absolute;
    top: 10px;
    left: 10px;
    color: #BED7DC;
    background-color: #fff;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: solid #ffefe3;
    border-radius: 10px;
    text-decoration: none;
    padding: 5px;
}

.container {
    font-size: 12px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto; /* Center the container horizontally */
    height: 20vh; /* Set the height to 100% of the viewport height */
}


.input 
{
    margin-left: 75%;
    height: 20px;
}

main 
{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.Product 
{
    background-color: #f9f9f9;
    border: 7px solid #BED7DC;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 40px;
    text-align: center;
    font-size: 12px;
    width: 150px;
}

.Product img 
{
    height: 150px;
    width: 150px;
    object-fit: contain;
}

.price 
{
    color: #333;
    font-weight: bold;
    font-size: 16px;
}

.Product p 
{
    font-size: 15px;
    margin-bottom: 10px;
}

.quantity 
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.quantity button 
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B3C8CF;
    border: none;
    border-radius: 0px;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    width: 30px;
    height: 30px;
    margin: 0 5px; /* Add horizontal margin */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.quantity span 
{
    margin: 0 10px; /* Add horizontal margin */
}

.buttons 
{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.buttons button 
{
    padding: 5px 10px;
    background-color: #B3C8CF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.buttons button.view 
{
    background-color: #B3C8CF;
}

.buttons button:hover 
{
    background-color: #889da5;
}
