body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #B3C8CF;
    color: white;
    padding: 20px 0;
    text-align: center;
}

a#back {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #B3C8CF;
    background-color: white;
    font-size: 20px;
    border: 1px solid #BED7DC;
    border-radius: 10px;
    text-decoration: none;
    padding: 5px 10px;
}

    .product-table {
        width: 90%;
        margin: 0 auto;
        border-collapse: collapse;
    }

    .product-table th, .product-table td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
    }

    .product-table th {
        background-color: #f2f2f2;
    }

    .product-table img {
        width: 100px;
        height: auto;
        display: block;
        margin: 0 auto;
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4);
    }

    .modal-content {
        background-color: #fefefe;
        margin: 10% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 90%;
        max-width: 600px;
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover, .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    button {
        background-color: #B3C8CF;
        color: white;
        padding: 10px 20px;
        margin-top: 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    button:hover {
        background-color: #98B0B9;
    }

    form label {
        display: block;
        margin: 15px 0 5px;
    }

    form input[type="text"], form input[type="number"], form input[type="file"] {
        width: 100%;
        padding: 10px;
        margin: 5px 0 20px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    #addProductBtn {
        background-color: #B3C8CF;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        margin: 20px auto;
        display: block;
    }

    #addProductBtn:hover {
        background-color: #98B0B9;
    }


