body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #B3C8CF;
    color: white;
    padding: 20px 0;
    text-align: center;
}

a#back {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #B3C8CF;
    background-color: white;
    font-size: 20px;
    border: 1px solid #BED7DC;
    border-radius: 10px;
    text-decoration: none;
    padding: 5px 10px;
}

.product-table {
    width: 100%;
    border-collapse: collapse;
    color: #333;
}

.product-table th, .product-table td {
    border: 1px solid #fff;
    padding: 8px;
    text-align: center;
}

.product-table th {
    background-color: #B3C8CF;
}

.product-table td {
    background-color: #BED7DC;
    color: #333;
    width: 10%;
}

.product-table thead tr {
    background-color: #B3C8CF;
}

.product-table img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    max-width: 600px;
}

button {
    background-color: #B3C8CF;
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #98B0B9;
}

form label {
    display: block;
    margin: 15px 0 5px;
}

form input[type="text"], form input[type="number"], form input[type="file"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#addProductBtn {
    background-color: #B3C8CF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin: 20px auto;
    display: block;
}

#addProductBtn:hover {
    background-color: #98B0B9;
}