body {
  background-image: url('p.checkin.png');
  background-size: 1550px 900px;
  background-repeat: no-repeat;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.logo {
  width: 100px;
  height: 80px;
  vertical-align: middle;
  position: absolute;
  left: 500px;
  top: 30px;
}

#back {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #FFD4B2;
  background-color: #fff;
  font-size: 20px;
  border: #bb9b82 solid;
  border-radius: 10px;
  text-decoration: none;
  padding: 5px 5px;
}

header {
  background-color: #FFD4B2;
  padding: 1rem;
  height: 100px;
  width: auto;
  text-align: center;
  font-size: 20px;
  color: #fff;
  border-radius: 10px;
  border: #bb9b82 solid;
}

.top {
  width: 1200px;
  height: 100px;
  text-align: center;
  margin-top: 10%;
  margin-left: 10%;
  border-radius: 10px;
}

.check-in {
  max-width: 1000px;
  max-height: 900px;
  margin: 10% auto;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  left: 15px;
  top: 5%;
  border: #333 solid;
}

.progress-bar {
  width: 80%;
  height: 30px;
  background-color: #FFD4B2;
  border-radius: 10px;
  margin: 20px auto;
  position: relative;
  overflow: hidden;
}

.progress {
  width: 0;
  height: 100%;
  background-color: #FFA500;
  border-radius: 10px;
  transition: width 0.5s;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.day {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #FFD4B2;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 45px;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
}

.day:hover {
  background-color: #FFA500;
}

.checked {
  background-color: #FFA500;
  color: white;
}

button {
  width: 100px;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
  font-size: inherit;
  color: inherit;
  background-color: #FFD4B2;
  position: relative;
  margin-bottom: 10px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #FFA500;
}

#checkInMessage {
  font-size: 18px;
  margin-top: 10px;
}

#couponMessage {
  font-size: 18px;
  margin-top: 10px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  border-radius: 10px;
  text-align: center;
  font-size: 24px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
