body{
  background-image: url(p.checkin.png);
  background-size: 1550px 800px; 
  background-repeat: no-repeat; 
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}  

.logo 
{
  width: 100px;
  height: 80px;
  vertical-align: middle;
  position: absolute;
  left: 500px;
  top: 30px;
}

#back
{
  position: absolute;
  top: 10px; 
  left: 10px; 
  color: #FFD4B2;
  background-color: #fff;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border: #bb9b82 solid ;
  border-radius: 10px;
  text-decoration: none;
  padding: 5px 5px;
  margin-left: 10px;
  margin-top: 10px;
}

header {
  background-color: #FFD4B2;
  padding: 1rem;
  height: 100px;
  width: auto;
  text-align: center;
  font-size: 20px;
  color: #fff;
  border-radius: 10px;
  border :#bb9b82 solid;
}

.top{

  width: 1200px;
  height: 100px;
  text-align: center;
  margin-top: 10%;
  margin-left: 10%;
  border-radius: 10px;
}


.check-in {
  max-width: 1000px;
  max-height: 900px;
  margin: 10% auto;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  left:15px ;
  top:5%;
  border: #333 solid;


}


.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.day {
  width: 50px;
  height: 50px;
  border-radius: 50%; /* Circular shape */
  background-color: #ffe96c; /* Gold color */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 45px;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Soft shadow */
  
}


.checked {
  background-color: #FFA500; 
  color: white;
}

button {
  width: 100px;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
  font-size: inherit;
  color: inherit; /* Inherit text color */
  background-color: #FFA500;
  position: relative;
  margin-bottom: 10px;
}

button:hover{
  background-color: #FFA500;
}