body {
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.logo {
    width: 100px;
    height: 80px;
    vertical-align: middle;
    margin-left: 30px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #B3C8CF;
    color: #fff;
    padding: 10px 0;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

section {
    padding: 20px 0;
}

.chart-container {
    width: 100%;
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.chart-box {
    flex: 1 1 45%; /* Flex-grow: 1, Flex-shrink: 1, Flex-basis: 45% */
    margin: 10px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chart-box h2 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
}

.chart-box canvas {
    width: 100% !important;
    height: 300px !important;
}

tfoot {
    font-weight: bold;
}

table.comment-list {
    width: 100%;
    border-collapse: collapse;
    margin: 100px 50px 100px 50px;
    font-size: 18px;
    text-align: left;
}

/* Table header styling */
.comment-list th, .comment-list td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    
}

/* Header row styling */
.comment-list thead {
    background-color: #B3C8CF;
}

.comment-list thead th {
    font-weight: bold;
    text-transform: uppercase;
}

/* Hover effect for rows */
.comment-list tbody tr:hover {
    background-color: #f1f1f1;
}