body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #B3C8CF;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

a#back {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #B3C8CF;
    background-color: #fff;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: #BED7DC solid;
    border-radius: 10%;
    text-decoration: none;
    padding: 5px 10px;
}



/* Basic styling for the staff table */
.member-table {
    width: 100%;
    border-collapse: collapse;
    color: #333;
}

.member-table th, .member-table td {
    border: 1px solid #fff;
    padding: 8px;
    text-align: center;
    background-color: #B3C8CF;
}

.member-table td {
    background-color: #BED7DC;
    color: #333;
    width: 10%;
}

.member-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}


#address{
    width: 40%;
}



    /* Modal styles */
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.4);
    }

    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 40%;
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    .modal button {
        background-color: #B3C8CF;
        color: white;
        padding: 10px 20px;
        margin-top: 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .modal button:hover {
        background-color: #98B0B9;
    }

    #addStaffBtn {
        background-color: #98B0B9;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        margin: 20px auto;
        display: block;
    }

    #addStaffBtn:hover {
        background-color: #0056b3;
    }

