body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(p.user.png);
    background-repeat: no-repeat; 
    background-size: 1600px 1100px;
}

.logo 
{
    width: 100px;
    height: 80px;
    vertical-align: middle;
    margin-right: 10px;
}

a#back {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #FF9B50;
    background-color: #fff;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border: #FF9B50 solid;
    border-radius: 10%;
    text-decoration: none;
    padding: 5px 10px;
}

h1 {
    text-align: center;
    background-color: #FFD495;
    color: #fff;
    padding: 20px;
    margin: 0;
}

.container {
    max-width: 600px;
    margin: 40px auto;
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.container h1 {
    background-color: #FFD495;
    color: #fff;
    padding: 10px;
    margin-bottom: 20px;
    width: auto; /* Adjust to fit content */
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile img {
    width: 175px;
    height: 175px; /* Adjusted to be a perfect circle */
    border-radius: 50%;
    margin-bottom: 20px;
}

.profile h2 {
    margin-bottom: 10px;
}

.profile p {
    margin-bottom: 5px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff8b50;
    color: #fff;
    text-decoration: none;
    margin-top: 20px;
    border-radius: 5px;
}

.button:hover {
    background-color: rgb(242, 181, 119);
}
